#share_all_cn-menu-tool,
#share_all_cn_menuitem_default,
#share_all_cn_pic_default,
.share_all_cn-logo {
  list-style-image: url(chrome://share_all_cn-os/skin/icon16.png) !important;
}

.share_all_cn_menuitem {
  height: 22px;
}

.shareChannel_renren {
  list-style-image:url(chrome://share_all_cn/skin/renren.png) !important;
}
.shareChannel_sina {
  list-style-image:url(chrome://share_all_cn/skin/sina.png) !important;
}
.shareChannel_kaixin {
  list-style-image:url(chrome://share_all_cn/skin/kaixin.png) !important;
}
.shareChannel_douban {
  list-style-image:url(chrome://share_all_cn/skin/douban.png) !important;
}
.shareChannel_qq {
  list-style-image:url(chrome://share_all_cn/skin/qq.png) !important;
}
.shareChannel_mail {
  list-style-image:url(chrome://share_all_cn/skin/mail.png) !important;
}
.shareChannel_tqq {
  list-style-image:url(chrome://share_all_cn/skin/tqq.png) !important;
}

#PanelUI-share-all-cn-view > toolbarbutton > .toolbarbutton-icon {
  margin-right: -6px;
}

#share-all-cn-bar[cui-areatype="menu-panel"] > .toolbarbutton-menubutton-dropmarker {
    display: none;
}

#share-all-cn-bar.shareChannel_no {
    list-style-image:url(chrome://share_all_cn-os/skin/icon16.png) !important;
}
#share-all-cn-bar.shareChannel_no[cui-areatype="toolbar"]:not([overflowedItem="true"]):-moz-lwtheme-brighttext {
  list-style-image: url(chrome://share_all_cn-os/skin/icon16-inverted.png) !important;
}
#share-all-cn-bar[cui-areatype="menu-panel"],
toolbarpaletteitem[place="palette"] > #share-all-cn-bar {
    list-style-image: url(chrome://share_all_cn-os/skin/icon32.png) !important;
}

@media (-moz-mac-lion-theme) {
  #share-all-cn-bar.shareChannel_no:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
    list-style-image: url(chrome://share_all_cn-os/skin/icon16-active.png) !important;
  }
  #share-all-cn-bar.shareChannel_no[cui-areatype="toolbar"]:not([overflowedItem="true"]):hover:active:not([disabled="true"]):-moz-lwtheme-brighttext {
    list-style-image: url(chrome://share_all_cn-os/skin/icon16-inverted-active.png) !important;
  }

  #PanelUI-share-all-cn-view > toolbarbutton > .toolbarbutton-icon {
    margin-right: 8px !important;
  }
}

@media (-moz-mac-lion-theme) and (min-resolution: 2dppx) {
  #share_all_cn-menu-tool,
  #share_all_cn_menuitem_default,
  #share_all_cn_pic_default,
  .share_all_cn-logo {
    list-style-image: url(chrome://share_all_cn-os/skin/icon16@2x.png) !important;
  }

  .shareChannel_renren {
    list-style-image:url(chrome://share_all_cn-os/skin/renren@2x.png) !important;
  }
  .shareChannel_sina {
    list-style-image:url(chrome://share_all_cn-os/skin/sina@2x.png) !important;
  }
  .shareChannel_kaixin {
    list-style-image:url(chrome://share_all_cn-os/skin/kaixin@2x.png) !important;
  }
  .shareChannel_douban {
    list-style-image:url(chrome://share_all_cn-os/skin/douban@2x.png) !important;
  }
  .shareChannel_qq {
    list-style-image:url(chrome://share_all_cn-os/skin/qq@2x.png) !important;
  }
  .shareChannel_mail {
    list-style-image:url(chrome://share_all_cn-os/skin/mail@2x.png) !important;
  }
  .shareChannel_tqq {
    list-style-image:url(chrome://share_all_cn-os/skin/tqq@2x.png) !important;
  }

  #PanelUI-share-all-cn-view > toolbarbutton > .toolbarbutton-icon {
    width: 16px;
  }

  #share-all-cn-bar.shareChannel_no {
    list-style-image: url(chrome://share_all_cn-os/skin/icon16@2x.png) !important;
  }
  #share-all-cn-bar.shareChannel_no[cui-areatype="toolbar"]:not([overflowedItem="true"]):-moz-lwtheme-brighttext {
    list-style-image: url(chrome://share_all_cn-os/skin/icon16-inverted@2x.png) !important;
  }
  #share-all-cn-bar[cui-areatype="menu-panel"],
  toolbarpaletteitem[place="palette"] > #share-all-cn-bar {
    list-style-image: url(chrome://share_all_cn-os/skin/icon32@2x.png) !important;
}

  #share-all-cn-bar.shareChannel_no:hover:active:not([disabled="true"]):not([cui-areatype="menu-panel"]) {
    list-style-image: url(chrome://share_all_cn-os/skin/icon16-active@2x.png) !important;
  }
  #share-all-cn-bar.shareChannel_no[cui-areatype="toolbar"]:not([overflowedItem="true"]):hover:active:not([disabled="true"]):-moz-lwtheme-brighttext {
    list-style-image: url(chrome://share_all_cn-os/skin/icon16-inverted-active@2x.png) !important;
  }

  #share-all-cn-bar > .toolbarbutton-icon,
  #share-all-cn-bar > .toolbarbutton-menubutton-button > .toolbarbutton-icon {
    width: 16px;
  }
}
